<h1 style="color: blue">Academic Event Scheduler</h1>
Hi,<br>
You have created <%= @exam.lecture_title %> exam.<br>
<br>
Send this link to the participants you wish to invite: <a href="<%= @exam.url1 %>"><%= @exam.url1 %></a><br>
This link to view results: <a href="<%= @exam.url2 %>"><%= @exam.url2 %></a><br>
You should keep this e-mail in case you want to edit your event or invite more participants later on.