<h1 style="color: blue">Academic Event Scheduler</h1>
Hi,<br>
You have created <%= @lecture.lecture_title %> lecture.<br>
<br>
Send this link to the participants you wish to invite: <a href="<%= @lecture.url1 %>"><%= @lecture.url1 %></a><br>
This link to view results: <a href="<%= @lecture.url2 %>"><%= @lecture.url2 %><br>
You should keep this e-mail in case you want to edit your event or invite more participants later on.