<h1>Exam Table</h1>
<table>
  <tr>
    <th>Time/Date</th>
    <% dates = @timetable.keys.map { |x, y| y }.uniq %>
    <% dates.each do |date| %>
      <th><%= AvailableTime::DAYS[date - date.beginning_of_week].capitalize %><br><%= date.to_s %></th>
    <% end %>
  </tr>
  <%
    # @timetable is a hash with keys of the form [28800, <date>], [28800, <date>], ...
    # where 28800 is the number of seconds since the beginning of the day and <date> is the date
    (28800..52200).step(1800).each do |seconds|
      concat "<tr>".html_safe
      _start = seconds_to_12_hour_time(seconds)
      _end = seconds_to_12_hour_time(seconds + 1800)
      concat "<th>#{_start} - #{_end}</th>".html_safe
      dates.each do |date|
        if(@timetable[[seconds, date]])
          concat "<td class='marked'></td>".html_safe
        else
          concat "<td></td>".html_safe
        end
      end
      concat "</tr>".html_safe
    end
  %>
</table>

<p>Legend</p>
<ul class="legend">
  <li style="color: cyan"><span>Available</span></li>
  <li style="color: gray"><span>Not Available</span></li>
</ul>

<%= form_for @exam, url: { controller: :event, action: :create } do |f| %>
  <%= f.hidden_field :event_type %>
  <%= f.hidden_field :lecture_title %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :num_times %>
  <%= f.hidden_field :duration %>
  <% @exam.available_times.each do |available_time| %>
    <%= hidden_field_tag 'from[]',available_time.from.to_i %>
    <%= hidden_field_tag 'to[]', available_time.to.to_i %>
  <% end %>
  
  <div class="g-recaptcha" data-sitekey="<%= Rails.application.secrets.RECAPTCHA_KEY %>"></div>
  <input type="button" onclick="javascript:history.back()" value="Back">
  <%= f.submit 'Submit' %>
<% end %>