<h1>Lectures Table</h1>
<%= render 'timetable' %>

<p>Legend</p>
<ul class="legend">
  <li style="color: cyan"><span>Available</span></li>
  <li style="color: gray"><span>Not Available</span></li>
</ul>

<%= form_for @lecture, url: { controller: :event, action: :create } do |f| %>
  <%= f.hidden_field :event_type %>
  <%= f.hidden_field :lecture_title %>
  <%= f.hidden_field :description %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :num_times %>
  <%= f.hidden_field :duration %>
  <% @lecture.available_times.each do |available_time| %>
    <%= hidden_field_tag 'from[]',available_time.from.to_i %>
    <%= hidden_field_tag 'to[]', available_time.to.to_i %>
  <% end %>
  
  <div class="g-recaptcha" data-sitekey="<%= Rails.application.secrets.RECAPTCHA_KEY %>"></div>
  <input type="button" onclick="javascript:history.back()" value="Back">
  <%= f.submit 'Submit' %>
<% end %>